/* --------------- style menu info --------------- */

.contentsMenuInfo {
    display: grid;
    justify-items: center;
}
.list-menuInfo {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.elements-list-menuInfo {
    display: grid;
    align-items: center;
    grid-template-rows: 0.5fr 1fr;
    cursor: pointer;
}
.elements-list-menuInfo span {
    padding-left: 20%;
}
.item-list-display {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* ==================== depth level divider ==================== */

.popup-text {
    display: grid;
}

.popup-text div {
    padding: 0px 20px;
}


/* ==================== style for content in InfoMenuData ==================== */

#popup-text {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
}

#popup-text ul{
    list-style-type: none;
}

#popup-text li{
    margin-bottom: 10px;
}

#popup-text h3, h4 {
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 10px;
}

#popup-text h3 span, h4 span{
    background-color: rgb(242, 101, 34);
    padding: 2px 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
