/*
 The structure inside this css file splits it up in different level of element depth, and a different parent for
 element on the same depth also get separated, comments are used as a separator.

 All % values should either be directly clear from the context, or otherwise those in a calc method follow a format.
 This format explain the value inside the (x / y) part, the y represents the size of the parent and x the size of the
 element that you are giving the size to, both x and y should represent viewport sizes until the min-size defined.
 The usage of calc for font sizes is different, here the (x / y) part is a scaler from 100%, (4 / 3) for instance means
 we scale the font size by 1.33.

 The order of the css rules follows the following scheme, this list only contains commonly used rules:
 position, z-index, float, top, left, bottom, right, (min-/max-)width, (min-/max-)height, margin(-*), padding(-*),
 display, justify-content, align-items, pointer-events, (-webkit-)user-select, overflow(-*), cursor, background(-*),
 color(-*), opacity, box-sizing, border-radius, border(-*), border-color (when separate from border), font(-*), *
 */

.pastDataSelectorContents {
    position: relative;
    width: 90%;
    /*background-color: white;*/
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* ==================== depth level divider ==================== */

.past-data-divider {
    width: 100%;
    border: 0;
    border-top: 1px solid lightgray;
}

.past-data-menu-part {
    padding: 10px 50px;
    display: inline-flex;
    align-items: center;
}

/*Dennis Upgrade*/
.display-data-width {
    width: 20%;
}
.display-predictions-width {
    width: 50%;
}
.display-observations-width {
    width: 50%;
}

/* ==================== depth level divider ==================== */

.latest-data-chooser {
    position: relative;
    width: 100%;
    display: flex;
}

/* -------- level part divider -------- */

.time-interval-chooser {
    position: relative;
    width: auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 0px 30px;
    margin: 0px 20px;
}

.timestamp-observation-chooser, .timestamp-observation-chooser-disabled {
    position: relative;
    width: 20%;
    margin-top: 5px;
}

.timestamp-observation-chooser-disabled {
    pointer-events: none;
    color: lightgray;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timestamp-observation-chooser {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ==================== depth level divider ==================== */

.time-interval-drop-down {
    position: relative;
    width: 70%;
}

/* ++++ in-level part divider ++++ */

.time-interval-loader {
    position: relative;
    left: 5%;
    width: auto;
    -webkit-user-select: none !important;
    user-select: none;
    background-color: white;
    color: #0076C2;
    border: solid 1px transparent;
    border-radius: 20px;
    font-size: 18px;
    padding: 8px 8px;
    margin-right: 8px;
}

.load-interval-chooser {
    background-color: white;
    border-radius: 20px;
    padding: 0px 30px;
    margin: 0px 20px;
}

.time-interval-loader:hover {
    cursor: pointer;
    font-weight: bold;
}

#latest-data-loader {
    left: 0;
    padding: 8px 20px;
}

.disabled-time-interval-loader {
    color: lightgray;
    border: solid 1px lightgray;
}

/* ++++ in-level part divider ++++ */

.latest-data-text {
    position: relative;
    width: 75%;
    display: flex;
    align-items: center;
}

/* -------- level part divider -------- */

.load-on {
    position: relative;
    display: flex;
    align-items: center;
}

.timestamp-drop-down {
    position: relative;
    width: 100%;
}

.times-color {
    color: #0e0e0e!important;
}

.timestamp-observation-chooser-disabled .MuiSelect-icon {
    color: lightgray;
}


/* ==================== Dennis Upgrade ==================== */

/* -------- Compare Switch -------- */
.SideBarMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
}



/* ++++++++++++++++++++++++++++++++ media query divider ++++++++++++++++++++++++++++++++ */
/*Dennis Upgrade */
@media screen and (pointer: coarse) and (orientation: portrait) and (max-width: 480px) {
    .display-data-width, .display-predictions-width, .display-observations-width {
        width: 100%;
    }
    .display-observations-width {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .pastDataSelectorContents {
        font-size: 20px;
    }
}

@media screen and (pointer: coarse) and (orientation: portrait) and (max-width: 1024px) {
    /*
     When on a tablet/ipad in portrait mode change the size of sidebar related parts
     */
    .display-predictions-width {
        width: auto;
        display: contents;
    }
    .display-observations-width {
        width: 100%;
    }
}