/*
 The structure inside this css file splits it up in different level of element depth, and a different parent for
 element on the same depth also get separated, comments are used as a separator.

 All % values should either be directly clear from the context, or otherwise those in a calc method follow a format.
 This format explain the value inside the (x / y) part, the y represents the size of the parent and x the size of the
 element that you are giving the size to, both x and y should represent viewport sizes until the min-size defined.
 The usage of calc for font sizes is different, here the (x / y) part is a scaler from 100%, (4 / 3) for instance means
 we scale the font size by 1.33.

 The order of the css rules follows the following scheme, this list only contains commonly used rules:
 position, z-index, float, top, left, bottom, right, (min-/max-)width, (min-/max-)height, margin(-*), padding(-*),
 display, justify-content, align-items, pointer-events, (-webkit-)user-select, overflow(-*), cursor, background(-*),
 color(-*), opacity, box-sizing, border-radius, border(-*), border-color (when separate from border), font(-*), *
 */

.Sidebar, .Location, .TUDelft-logo, .PastData {
    position: relative;
    float: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    -webkit-transition: border-bottom .1s linear;
    -moz-transition: border-bottom .1s linear;
    -o-transition: border-bottom .1s linear;
    -ms-transition: border-bottom .1s linear;
    transition: border-bottom .1s linear;
}

.Sidebar:hover, .Location:hover, .TUDelft-logo:hover {
  cursor: pointer;
}


.topBar-container {
  height: 100%;
  background: rgb(0,118,194);
  background: radial-gradient(circle, rgba(0,118,194,1) 0%, rgba(0,118,194,1) 34%, rgba(0,110,181,1) 77%, rgba(0,110,181,1) 100%);
  border-radius: 20px;
  padding: 5px 0px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.topBarContents {
  position: relative;
  height: 100%;
  font-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
  width: 0em ;
  opacity: 1;
  -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    -ms-transition: width 1s ease;
    transition: width 1s ease;
}

.openMenu-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1.5em;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
  cursor: pointer;
}

.openMenu-icon:hover {
  width: 2.3em;
}

.PastData {
  background-color: #eff8ff;
  color: #0076C2;
  height: 100%;
  padding: 5px 8px;
  border-radius: 19px;
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  -webkit-transition: width .3s ease .15s;
    -moz-transition: width .3s ease .15s;
    -o-transition: width .3s ease .15s;
    -ms-transition: width .3s ease .15s;
    transition: width .3s ease .15s;
}

.Location, .TUDelft-logo {
  padding: 8px 8px;
}
.Sidebar {
  padding: 5px 10px;
}



.Searchbar {
    margin-left: var(--search-bar-margin);
    position: relative;
    float: left;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

/* Search bar button */
.Searchbar > .leaflet-control-geosearch .leaflet-bar-part {
    background-color: #7cd9ff;
}

/* Form to enter location */
.Searchbar > .leaflet-control-geosearch form {
    width: 200px;
    max-width: calc((0.75 * (100vw - var(--top-bar-search-space))) / 1.3);
}
.Searchbar > .leaflet-control-geosearch > form > input.glass {
    min-width: 0;
}

.Searchbar > .leaflet-control-geosearch.active form input{
    font-size: 16px;
}

.Sidebar-shown {
    color: #2e2e2e;
    position: relative;
    z-index: 1;
    top: 100%;
    width: 100%;
    height: var(--sidebar-height);
    background-color: #fdfdfd;
    z-index: 2;
    top:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 1;
}

/* ==================== depth level divider ==================== */

.Sidebar-icon {
    position: absolute;
    color: white;
}

.TUDelft-logo-icon {
    width: 60%;
    height: 60%;
    -webkit-user-select: none !important;
    user-select: none;
}

.Sidebar-items {
    position: relative;
    width: 100%;
    background-color: #0076C2;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.Bottom-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}





/* ==================== depth level divider ==================== */

.Sidebar-items > li {
    position: relative;
    height: var(--sidebar-item-height);
    display: flex;
    align-items: center;
    background-color: var(--sidebar-color);
    color: white;
}

.Sidebar-items > li:hover {
    background-color: #3792cb;
    cursor: pointer;
}

.Sidebar-items > .active-menu-item {
    background-color: #3792cb;
}

.Sidebar-items > .sidebar-splitter, .Sidebar-items > .open-menu {
    height: calc(100% - (6 * var(--sidebar-item-height)));
}

.Sidebar-items > .open-menu, .Sidebar-items > .open-menu:hover {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden auto;
    cursor: auto;
    background-color: var(--sidebar-color);
    color: black;
}

#sidebar-splitter {
    height: auto;
    background-color: var(--sidebar-color);
    cursor: auto;
}


/* ==================== header Menus ==================== */

.container-sidebar-menu, .container-sidebar-menuInfo{
    position: relative;
    top: 10%;
    height: 90%;
    display: grid;
    grid-template-rows: 0.2fr 3fr 0.3fr;
}
.contens-menuInfo {
    display: flex;
    flex-direction: row;
}
.menuOverlay {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.Menu-title {
    font-size: 58px;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Menu-subtitle {
    font-size: 15px;
    font-weight: 400;
}
.Bottom-privacy-statement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}
.Menu-title img {
    max-width: 7%;
    max-height: 90%;
}
.Menu-title div {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}


/* ++++++++++++++++++++++++++++++++ laoder ++++++++++++++++++++++++++++++++ */
.loaderContents {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.loading-bar {
    height: 50px;
    background: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    display: none;
    background: #0C2340;
    margin: 10px 10px;
    width: fit-content;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
    animation: load3 5s ease infinite;
  }
  @keyframes load3 {
    0% {
      height: 10px;
    }
    20% {
      height: 20px;
    }
    40% {
      height: 30px;
    }
    60% {
      height: 30px;
    }
    80% {
      height: 20px;
    }
    100% {
      height: 10px;
    }
  }
  /* ------------------------------------------------------------------- */
  .circle-0 {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
    animation: load4 5s ease infinite;
  }
  @keyframes load4 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  /* ------------------------------------------------------------------------ */
  .circle-1 {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
  }
  .circle1 {
    animation: c1 3s ease 0s infinite;
  }
  @keyframes c1 {
    0% {
      transform: scale(0);
    }
    35%,
    65% {
      transform: scale(1);
    }
    65%,
    100% {
      transform: scale(0);
    }
  }
  .circle2 {
    animation: c2 3s ease 0.2s infinite;
  }
  @keyframes c2 {
    0% {
      transform: scale(0);
    }
    35%,
    65% {
      transform: scale(1);
    }
    65%,
    100% {
      transform: scale(0);
    }
  }
  .circle3 {
    animation: c3 3s ease 0.4s infinite;
  }
  @keyframes c3 {
    0% {
      transform: scale(0);
    }
    35%,
    65% {
      transform: scale(1);
    }
    65%,
    100% {
      transform: scale(0);
    }
  }





/* ++++++++++++++++++++++++++++++++ media query divider ++++++++++++++++++++++++++++++++ */

@media screen and (pointer: coarse) and (orientation: landscape) and (max-height: 1024px) {
    /*
     Fix the size of the searchbar by scaling it depending on the device used
     */
    .Searchbar {
        transform: scale(1.6);
    }
}

@media screen and (pointer: coarse) and (orientation: portrait) and (max-width: 1024px) {
    /*
     When on a tablet/ipad in portrait mode change the size of sidebar related parts
     */
    .Sidebar-shown {
        width: 100%;
    }

    /*
     Fix the size of the searchbar by scaling it depending on the device used
     */
    .Searchbar {
        transform: scale(1.6);
    }

    /*
     When on a mobile device in portrait mode change the size of sidebar related parts
     */
    .item-title {
        font-size: 100%;
        text-decoration: underline;
    }

    .Sidebar-items > li {
        height: calc(1.5 * var(--sidebar-item-height));
    }

    .Sidebar-items > .sidebar-splitter, .Sidebar-items > .open-menu {
        height: calc(100% - (6 * (1.5 * var(--sidebar-item-height))));
    }
}


@media screen and (pointer: coarse) and (orientation: landscape) and (max-height: 480px) {
    /*
     Fix the size of the searchbar by scaling it depending on the device used
     */
    .Searchbar {
        transform: scale(1);
    }

    .info-box {
        display: block;
    justify-content: left;
    height: 35%;
    overflow-y: scroll;
    }
    .info-text {
        display: block;
    }
}


@media screen and (pointer: coarse) and (orientation: portrait) and (max-width: 480px) {
    /*
     When on a phone in portrait mode and the width is very small (less than 480px)
      change the size of sidebar related parts
     */
    .Sidebar-shown {
        width: 100%;
    }

    /*
     Fix the size of the searchbar by scaling it depending on the device used
     */
    .Searchbar {
        transform: scale(0.8);
    }

    /*Dennis Upgrade*/
    .Bottom-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-box {
        display: block;
    justify-content: left;
    height: 35%;
    overflow-y: scroll;
    }
    .info-text {
        display: block;
    }
}

/*
 When the width of the screen is less than 1080px (in any device), change layout of Contributors popup.
 Instead of having scientific contributors and software development team next to each other, have them one
 on top of the other.
 */
@media screen and (max-width: 1080px) {}