/*
 The structure inside this css file splits it up in different level of element depth, and a different parent for
 element on the same depth also get separated, comments are used as a separator.

 All % values should either be directly clear from the context, or otherwise those in a calc method follow a format.
 This format explain the value inside the (x / y) part, the y represents the size of the parent and x the size of the
 element that you are giving the size to, both x and y should represent viewport sizes until the min-size defined.
 The usage of calc for font sizes is different, here the (x / y) part is a scaler from 100%, (4 / 3) for instance means
 we scale the font size by 1.33.

 The order of the css rules follows the following scheme, this list only contains commonly used rules:
 position, z-index, float, top, left, bottom, right, (min-/max-)width, (min-/max-)height, margin(-*), padding(-*),
 display, justify-content, align-items, pointer-events, (-webkit-)user-select, overflow(-*), cursor, background(-*),
 color(-*), opacity, box-sizing, border-radius, border(-*), border-color (when separate from border), font(-*), *
 */

.Sidebar, .Location, .TUDelft-logo, .PastData {
    position: relative;
    float: left;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    /*Dennis Upgrade*/
    background-color: #0076C2;
    border-radius: 20px;
    margin-right: 20px;
    color: #fff;
}

.PastData {
    background-color: #eff8ff;
    color: #0076C2;
}
.Location, .TUDelft-logo {
    padding: 20px 20px;
}
.Sidebar, .PastData {
    padding: 10px 10px;
}

.Sidebar:hover, .Location:hover, .TUDelft-logo:hover {
    cursor: pointer;
}

.Searchbar {
    margin-left: var(--search-bar-margin);
    position: relative;
    float: left;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    margin-right: 20px;
    margin-top: 10px;
}

/* Search bar button */
.Searchbar > .leaflet-control-geosearch .leaflet-bar-part {
    background-color: #7cd9ff;
}

/* Form to enter location */
.Searchbar > .leaflet-control-geosearch form {
    width: 200px;
    max-width: calc((0.75 * (100vw - var(--top-bar-search-space))) / 1.3);
}
.Searchbar > .leaflet-control-geosearch > form > input.glass {
    min-width: 0;
}

.Searchbar > .leaflet-control-geosearch.active form input{
    font-size: 16px;
}

.Sidebar-shown {
    position: relative;
    z-index: 1;
    top: 100%;
    width: 100%;
    height: var(--sidebar-height);
    background-color: #0076C2;
    /*Dennis Upgrade*/
    z-index: 2;
    top:0;
    height: 100%;

    /*Dennis Upgrade*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    opacity: 0.98;
}

/* ==================== depth level divider ==================== */

.Sidebar-icon, .Location-icon, .TUDelft-logo-icon {
    position: absolute;
    color: white;
}

.Menu-icon {
    padding: 0px 10px;
}

.TUDelft-logo-icon {
    width: 60%;
    height: 60%;
    -webkit-user-select: none !important;
    user-select: none;
}

/* -------- level part divider -------- */

.open-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sidebar-items {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #0076C2;
    list-style: none;

    /*Dennis Upgrade*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 16px;
}

.Bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Bottom-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ==================== depth level divider ==================== */

.Sidebar-items > li {
    position: relative;
    height: var(--sidebar-item-height);
    display: flex;
    align-items: center;
    background-color: var(--sidebar-color);
    color: white;
}

.Sidebar-items > li:hover {
    background-color: #3792cb;
    cursor: pointer;
}

.Sidebar-items > .active-menu-item {
    background-color: #3792cb;
}

.Sidebar-items > .sidebar-splitter, .Sidebar-items > .open-menu {
    height: calc(100% - (6 * var(--sidebar-item-height)));
}

.Sidebar-items > .open-menu, .Sidebar-items > .open-menu:hover {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden auto;
    cursor: auto;
    background-color: var(--sidebar-color);
    color: black;
}

#sidebar-splitter {
    /*Dennis Upgrade*/
    height: auto;
    background-color: var(--sidebar-color);
    cursor: auto;
}

/* ==================== depth level divider ==================== */

.info-box {
    display: inline-flex;
    justify-content: center;
    height: 30%;
}

.info-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.popup-text {
    width: 80%;
    display: inline-flex;
    color: #ffffff;
}

.popup-text div {
    padding: 0px 20px;
}

.popup {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

/* ==================== depth level divider ==================== */

.item-icon {
    position: relative;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.item-title {
    color: white;
    font-size: 100%;
}

#scientific-contributor {
    float:left;
    display:inline;
    width: 45%;
}

#development-team {
    float: left;
    display:inline;
    width: 45%;
}

/* -------- level part divider -------- */

.popup-box {
    position: relative;
    background-color: white;
    height: 85%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* ==================== depth level divider ==================== */

.sidebar-element-icon {
    position: absolute;
}

/* -------- level part divider -------- */

.popup-content {
    position: relative;
    width: 90%;
    height: 90%;
}

/* ==================== depth level divider ==================== */

.popup-information {
    position: relative;
    width: 100%;
    height: 93%;
    color: black;
    font-size: max(15px, calc(100vh / 32));
    font-family: Arial;
    overflow: auto;
}

/* -------- level part divider -------- */

.popup-close {
    position: relative;
    width: 100%;
    height: 7%;
}

/* ==================== depth level divider ==================== */

#popup-text {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
}

/* -------- level part divider -------- */

.close-button {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 28px;
    height: 80%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #107fc4;
    color: white;
    border-radius: 5px;
    border: 3px solid #107fc4;
    font-size: max(15px, calc(100vh / 40));
}

.close-button:hover {
    background-color: white;
    color: blue;
}

/* ==================== depth level divider ==================== */

.close-button p {
    position: absolute;
}

/* -------- level part divider -------- */

#popup-text ul{
    list-style-type: none;
}

#popup-text li{
    margin-bottom: 10px;
}

#popup-text h3, h4 {
    font-weight: normal;
    color:white;
    margin-top: 15px;
    margin-bottom: 10px;
}

#popup-text h3 span, h4 span{
    background-color: #3A9BDC;
    padding: 2px 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #AAAAAA;
    border-radius: 2px;
}







.menuOverlay {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.Menu-title {
    font-size: 58px;
    font-weight: bold;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Menu-subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}
.Bottom-privacy-statement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: white;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}
.Menu-title img {
    max-width: 7%;
    max-height: 90%;
}
.Menu-title div {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}


/* ++++++++++++++++++++++++++++++++ laoder ++++++++++++++++++++++++++++++++ */
.loaderContents {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.loading-bar {
    height: 50px;
    background: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    display: none;
    background: #0C2340;
    margin: 10px 10px;
    width: fit-content;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
    animation: load3 5s ease infinite;
  }
  @keyframes load3 {
    0% {
      height: 10px;
    }
    20% {
      height: 20px;
    }
    40% {
      height: 30px;
    }
    60% {
      height: 30px;
    }
    80% {
      height: 20px;
    }
    100% {
      height: 10px;
    }
  }
  /* ------------------------------------------------------------------- */
  .circle-0 {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
    animation: load4 5s ease infinite;
  }
  @keyframes load4 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  /* ------------------------------------------------------------------------ */
  .circle-1 {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
  }
  .circle1 {
    animation: c1 3s ease 0s infinite;
  }
  @keyframes c1 {
    0% {
      transform: scale(0);
    }
    35%,
    65% {
      transform: scale(1);
    }
    65%,
    100% {
      transform: scale(0);
    }
  }
  .circle2 {
    animation: c2 3s ease 0.2s infinite;
  }
  @keyframes c2 {
    0% {
      transform: scale(0);
    }
    35%,
    65% {
      transform: scale(1);
    }
    65%,
    100% {
      transform: scale(0);
    }
  }
  .circle3 {
    animation: c3 3s ease 0.4s infinite;
  }
  @keyframes c3 {
    0% {
      transform: scale(0);
    }
    35%,
    65% {
      transform: scale(1);
    }
    65%,
    100% {
      transform: scale(0);
    }
  }





/* ++++++++++++++++++++++++++++++++ media query divider ++++++++++++++++++++++++++++++++ */

@media screen and (pointer: coarse) and (orientation: landscape) and (max-height: 1024px) {
    /*
     Fix the size of the searchbar by scaling it depending on the device used
     */
    .Searchbar {
        transform: scale(1.6);
    }
}

@media screen and (pointer: coarse) and (orientation: portrait) and (max-width: 1024px) {
    /*
     When on a tablet/ipad in portrait mode change the size of sidebar related parts
     */
    .Sidebar-shown {
        width: 100%;
    }

    /*
     Fix the size of the searchbar by scaling it depending on the device used
     */
    .Searchbar {
        transform: scale(1.6);
    }

    /*
     When on a mobile device in portrait mode change the size of sidebar related parts
     */
    .item-title {
        font-size: 100%;
        text-decoration: underline;
    }

    .Sidebar-items > li {
        height: calc(1.5 * var(--sidebar-item-height));
    }

    .Sidebar-items > .sidebar-splitter, .Sidebar-items > .open-menu {
        height: calc(100% - (6 * (1.5 * var(--sidebar-item-height))));
    }
}


@media screen and (pointer: coarse) and (orientation: landscape) and (max-height: 480px) {
    /*
     Fix the size of the searchbar by scaling it depending on the device used
     */
    .Searchbar {
        transform: scale(1);
    }

    .info-box {
        display: block;
    justify-content: left;
    height: 35%;
    overflow-y: scroll;
    }
    .info-text {
        display: block;
    }
    .popup-text {
        display: contents;
    }
}


@media screen and (pointer: coarse) and (orientation: portrait) and (max-width: 480px) {
    /*
     When on a phone in portrait mode and the width is very small (less than 480px)
      change the size of sidebar related parts
     */
    .Sidebar-shown {
        /*width: 75%;*/
        /*Dennis Upgrade*/
        width: 100%;
    }

    /*
     Fix the size of the searchbar by scaling it depending on the device used
     */
    .Searchbar {
        transform: scale(1.3);
    }

    /*Dennis Upgrade*/
    .Bottom-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-box {
        display: block;
    justify-content: left;
    height: 35%;
    overflow-y: scroll;
    }
    .info-text {
        display: block;
    }
    .popup-text {
        display: contents;
    }
}

/*
 When the width of the screen is less than 1080px (in any device), change layout of Contributors popup.
 Instead of having scientific contributors and software development team next to each other, have them one
 on top of the other.
 */
@media screen and (max-width: 1080px) {
    #scientific-contributor {
        width: 100%;
    }

    #development-team {
        width: 100%;
    }
}