<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="Weather nowcasting forecast app deep learning approach">
      <meta name="keywords" content="Weather, forecast, real-time">
      <meta name="author" content="TU Delft University">
      <link rel="icon" href="../../static/images/favicon.ico">
      <title>RainGuRU</title>
      
      {% load static %}
    
      {% load compress %}
      {% load cache %}

      {% cache 1000 rainguruStyles %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet-src.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
      <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>

      <script src="https://colorjs.io/dist/color.global.min.js"></script>
      <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      />
      <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.min.css" />
      <link
          rel="stylesheet"
          href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""
      />
      <link
          rel="stylesheet"
          href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"
      />
      <link rel = "stylesheet" type="text/css" href="{% static "css/index.css" %}" />
      <link rel = "stylesheet" type="text/css" href="{% static "css/popup.css" %}" />
      <link rel = "stylesheet" type="text/css" href="{% static "css/sideBar.css" %}" />
      <link rel = "stylesheet" type="text/css" href="{% static "css/pastDataSelector.css" %}" />
      <link rel = "stylesheet" type="text/css" href="{% static "css/animationBar.css" %}" />
      <link rel = "stylesheet" type="text/css" href="{% static "css/legend.css" %}" />
      <link rel = "stylesheet" type="text/css" href="{% static "css/statistics.css" %}" />
      <link rel = "stylesheet" type="text/css" href="{% static "css/infoMenu.css" %}" />
      {% endcache %}
  </head>
  <body>
      <div id="main">
          <div id="app"></div>
      </div>
      {% cache 1000 rainguruScript %}
      <script src="{% static 'js/main.js.br' %}" type="application/javascript"></script>
      {% endcache %}
  </body>
</html>
